<div class="container" ng-app="app" ng-controller="ListCtrl">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <td><!--클릭했을때 sort 되는 부분 -->
          <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
            이름
          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sortType = 'detail'; sortReverse = !sortReverse">
            상세내용
          <span ng-show="sortType == 'detail' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'detail' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
         <a href="" ng-click="sortType = 'task'; sortReverse = !sortReverse">
            업무
          <span ng-show="sortType == 'task' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'task' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    {{types}}
    dbdata
    <tbody ng-if="types.type=='server'">
      <tr ng-repeat="item in dbdata | orderBy:sortType:sortReverse">
        <td>{{ item.cpu }}</td>
        <td>{{ item.ram }}</td>
        <td>{{ item.hdd }}</td>
      </tr>
    </tbody>
    
  </table>
  
</div>
